@page
@model VitrineApp_R.Pages.Vitrine.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.image_link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.image_link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.product_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.product_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.tag_list)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.tag_list)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
